# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

callgrind.out.*

core

# Executables
src/test
src/aligner
src/helloWorld

local_tests

TAGS
